$primary-color: #775793;
$secondary-color: #44f344;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Absolut högst prio har style som vi skriver i vår element-tag
    t.ex. <div style="background-color: black;" /> */

/* Högst prio (id-selector) */
#gridContainer {
  background-color: $secondary-color;
}

/* Näst högst prio  (class-selector), en selector med flera classes har prio över en med färre*/

.grid-container.test-class {
  background-color: $secondary-color;
}

.grid-container {
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Näst lägst prio (element-selector)
    Om två selectorer har samma specificity så kommer den som läses in sist att ha prio
    dvs. den som ligger längre ner i stylesheeten */
div {
  background-color: $secondary-color;
}

span {
  background-color: $primary-color;
}

h2 {
  background-color: $secondary-color;
}
